<!--
<footer class="footer">
  <small>
    &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
  </small>
</footer>
-->

<footer>
  <a href="#page-top" class="toTop"><i class="fas fa-arrow-alt-circle-up text-primary" aria-hidden="true"></i><span class="sr-only">Back to top</span></a>
  <div class="container">
    <div class="row nsf">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 nsf-logo">
        <img src="{{ site.images }}logos/NSF_4-Color_bitmap_Logo.png" alt="Supported by the National Science Foundation (NSF)" />
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-7 nsf-info">
        <p>This work is supported by the National Science Foundation (NSF) under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1932920">Award Number 1932920</a></p>
      </div>
    </div>
    <div class="row footer-level2">
      <div class="col-md-8 col-sm-7 col-xs-6">
        <p class="copyright">Copyright &copy; Everyday Computing 2016 - <script>document.write(new Date().getFullYear());</script></p>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-6 social-media">
        <a class="fab fa-twitter fa-5x wow bounceIn" href="https://twitter.com/everydayCS"><span class='sr-only'>Follow us on Twitter</span></a>
        <a class="fas fa-envelope fa-5x wow bounceIn" href="mailto:everydaycsproject@gmail.com"><span class='sr-only'>Contact us via email</span></a>
      </div>
    </div>
  </div>
</footer>
