<!--
<footer class="footer">
  <small>
    &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
  </small>
</footer>
-->


<footer>
  <div style="height:0.5px;width:100%;background-color:#c0c0c0;">&nbsp;</div>
  <div class="container" style="padding:10px">
    <div class="row">
      <div class="col-md-9">
        <span class="copyright">Copyright &copy; Everyday Computing 2016</span>
      </div>
      <div class="col-md-3">
        <ul class="list-inline quicklinks">
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
