// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  // font-size: 85%;
  font-size:100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

table b {
  font-size:1.25em;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

td.presenterPhotos {
  width: 150px;
}

td.presentationInfo {

}

.center {
 text-align: center;
}

OL.footnotes > LI:target {
  background-color: #efefef;
  font-weight: bold;
}

#nav-ninjas:hover {
  background-color: #f26f50;
}

/** Add space above certain fragment identifiers to get below the sticky header for deep-linking **/
.paddedAnchor:before {
  content: " ";
  display: inline-block;
  margin-top: -70px;
  height: 115px;
  visibility: hidden;
}

/** Publications Page **/

.hangingindent {
  padding-left: 35px ;
  text-indent: -35px ;
}

.off-edge {
  padding-left: 35px ;
  padding-right: 35px ;
}

/** General post styles **/
// .presentationsGrid {
//   display: grid;
//   grid-template-columns: 1fr 3fr;
// }

//   .presentationsGrid .presentationsGridHeader {
//     grid-column: 1 / 3;
//   }
