// Layout
//
// Styles for managing the structural hierarchy of the site.

.navbar-default .navbar-header .navbar-brand {
  /* color: #337ab7; */
  color: white;
}
  
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
    background-color: $bg-color-offset;
}
  
  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus {
    color: white;
    background-color: $bg-color-offset;
}
  
  .navbar-default .nav > li.active>a,
  .navbar-default .nav>li.active>a:focus {
    /* color: #337ab7!important; */
    color: white;
    background-color: $bg-color-primary;
  }
  
  @media (min-width: 768px) {
    header .header-content .header-content-inner {
        max-width: 900px;
    }
    .navbar-default {
        background-color: $bg-color-primary;
        /* background-color: rgba(40,96,144,1); */
        /* background-color: rgba(40,96,144,0.5); */
  /*         background-color: rgba(255,255,255,0.5); */
  /*         background-color: rgba(37,63,107,.5); */
    }
    .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
      color: white;
    }
    .navbar-default .navbar-header .navbar-brand {
      color: white;
    }
  
  
    .navbar-default.affix .navbar-header .navbar-brand {
      font-size: 14px;
      color: $link-hover-color;
    }
  
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
      color: white;
      background-color: $bg-color-offset;
    }
  
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus {
      color: white;
      background-color: $bg-color-offset;
    }
  }

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.search-bar {
  margin-top: 20px;
}

main {
  margin-top: 100px;
}

.toTop {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0;

  text-decoration: none;
  text-shadow: 1px 1px 3px #000;
  mix-blend-mode: screen;

  position: fixed;
  right: 1rem;
  bottom: 1rem;
  opacity: 0.8;
  z-index: 1000;
}
a.toTop:hover,
a.toTop:focus {
  opacity: 1;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

footer {
  border-top: 4px solid #f05f40;
  margin-bottom: 2rem;
}

footer > container {
  padding: 10px;
}

/* Creative theme color override */
.bg-primary {
  background-color: $bg-color-primary;
}