// Layout
//
// Styles for managing the structural hierarchy of the site.

.navbar-default .navbar-header .navbar-brand {
	/* color: #337ab7; */
	color: white;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: white;
	background-color: #337ab7;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus {
    color: white;
	background-color: #337ab7;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
	/* color: #337ab7!important; */
	color: white;
	background-color: #337ab7;
}

@media(min-width:768px) {

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #337ab7;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
		color: white;
		background-color: #337ab7;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus {
        color: white;
		background-color: #337ab7;
    }

}

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.search-bar {
  margin-top: 20px;
}

main {
  margin-top: 100px;
}

footer {
  border-top: 4px solid #f05f40;
  margin-bottom: 2rem;
}

footer > container {
  padding: 10px;
}

/* Creative theme color override */
.bg-primary {
  background-color: $bg-color-primary;
}